* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(13, 15, 19, 1);
    background-color: #212530;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    font-weight: bold;
    color: #50fa7b;
    border-top: 2px solid #50fa7b;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 5px;
    margin: 0 5px;
    
}


#battery {
    border-top: 2px solid #bd93f9;
    /*border-radius: 10px;*/
}

#battery icon {
    color: red;
}

#battery.charging {
    color: #bd93f9;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    border-top: 2px solid #f1fa8c;
    /*border-radius: 10px;*/
}

#clock {
    font-weight: bold;
}

#memory {
    border-top: 2px solid #ff79c6;
    /*border-radius: 10px;*/
}

#network {
    border-top: 2px solid #50fa7b;
    /*border-radius: 10px;*/
}

#network.disconnected {
    background: #ff6e67;
}

#pulseaudio {
    border-top: 2px solid #8be9fd;
    /*border-radius: 10px*/
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

